---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Exercise from "../components/Exercise.astro";
import Footer from "../components/Footer.astro";
const localData = Astro.fetchContent('../exercises/flex/*.md');

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html lang="da">
<head>
    <Head />
    <style>
    @font-face {
  font-family: "Wotfard";
  src: url("../assets/fonts/wotfard-semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Wotfard";
  src: url("../assets/fonts/wotfard-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Wotfard";
  src: url("../assets/fonts/wotfard-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
    </style>
</head>
<body>

    <Header />

    <main>

        {localData.map((ex, i, all) => (
            <Exercise data={ex} num={i+1} all={all.length} />
        ))}

    </main>

    <Footer />

    <script src="/script/bliss.js"></script>
    <script src="/script/prism.js"></script>
    <script src="/script/prism-live.js"></script>
    <script src="/script/prism-live-markup.js"></script>
    <script src="/script/prism-live-css.js"></script>
    <script type="module" src="/script/custom.js"></script>
</body>
</html>
